<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="C:/Users/sulocal/Downloads/RestAPIProjects">

    <classes>
      <class name="ApiTests.ProductPostTest"></class>
      <class name="ApiTests.DeleteProductTest"></class>
      <class name="ApiTests.GetByIDTest"></class>
      <class name="ApiTests.UpdateProductTest"></class>


    </classes>
  </test>
</suite>
